.request-dialog {
  width: 200%;
}

.col-2.indicator {
  margin: 10px -12px 0px 0px;
  text-align: left;
}

.row.buttons {
  float: right;
}

.top-buffer {
  margin-top: 20px;
}

.request-date {
  text-align: right;
}

.request-title {
  width: 100%;
}

.space-between {
  margin: 0px 10px;
}

.delete-icon {
  color: #f53d3d;
}

.icon {
  font-size: 24px;
  cursor: pointer;
}
