<nb-layout>
  <nb-layout-header subheader>
    <a *ngIf="admin === true || admin === false" href="#" (click)="toggle()"
      ><i class="fa fa-bars fa-2x" aria-hidden="true"></i>
    </a>
    <!-- <nb-select multiple placeholder="Change Theme">
        <nb-option value="default">Default</nb-option>
        <nb-option value="cosmic">Cosmic</nb-option>
      </nb-select> -->
  </nb-layout-header>
  <nb-sidebar *ngIf="admin === true || admin === false">
    <nb-card class="profile" [hidden]="toogleMenu">
      <nb-card-body class="profile-pic">
        <nb-user
          onlyPicture
          size="large"
          picture="https://yt3.ggpht.com/a-/AAuE7mCHLGmzQvv4Ne2_kjjwV5DwkGC51ViHF_rJ5Q=s900-mo-c-c0xffffffff-rj-k-no"
        >
          >
        </nb-user>
      </nb-card-body>
      <div class="profile_name">
        <div *ngIf="admin">
          <p>Admin</p>
          <p>admin@gmail.com</p>
        </div>
        <div *ngIf="!admin">
          <p>Resident</p>
          <p>resident@gmail.com</p>
        </div>
      </div>
    </nb-card>
    <nb-menu *ngIf="!admin" [items]="sideMenuItemsForResident"> </nb-menu>
    <nb-menu *ngIf="admin" [items]="sideMenuItemsForAdmin"> </nb-menu>
    <nb-menu [items]="commonMenuItem" (click)="logout()"> </nb-menu>
  </nb-sidebar>

  <app-sidebar></app-sidebar>
  <nb-layout-column> <router-outlet></router-outlet> </nb-layout-column>

  <nb-layout-footer fixed> </nb-layout-footer>
</nb-layout>
