<nb-card [nbSpinner]="loading" nbSpinnerStatus="danger" nbSpinnerSize="xxlarge">
  <nb-card-body class="container-fluid">
    <section class="dashboard__metric row">
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
        <div class="dashboard__box">
          <div class="dashboard__box--color"></div>
          <h1>{{ totalOwners || 0 }}</h1>
          <h2>Total Owners</h2>
        </div>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
        <div class="dashboard__box">
          <h1>{{ totalComplaints || 0 }}</h1>
          <h2>Total Complaints</h2>
        </div>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
        <div class="dashboard__box">
          <h1>{{ totalRequests || 0 }}</h1>
          <h2>Total Requests</h2>
        </div>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
        <div class="dashboard__box">
          <h1>21,000</h1>
          <h2>Total Payment</h2>
        </div>
      </div>
    </section>
  </nb-card-body>
</nb-card>
