.dashboard {
  padding: 0rem 2rem;
  margin-bottom: 2rem;
  &__box {
    padding: 1rem;
    border: 2px solid #eb7475;
    position: relative;
    h1 {
      font-size: 32px;
      text-align: center;
    }
    h2 {
      font-size: 14px;
      text-align: center;
      text-transform: uppercase;
      margin-top: 4px;
    }
  }
  &__subHeading {
    padding: 2rem 0;
    h1 {
      font-size: 14px;
      text-transform: uppercase;
      text-decoration: underline;
      margin-left: 14px;
    }
  }
}
