.notice-title {
  width: 100%;
}

.notice-dialog {
  width: 200%;
}

.col-2.indicator {
  margin: 10px -12px 0px 0px;
  text-align: left;
}

.row.buttons {
  float: right;
}

.top-buffer {
  margin-top: 20px;
}

.notice-date {
  text-align: right;
}

.space-between {
  margin: 0px 10px;
}

.icon {
  font-size: 24px;
  cursor: pointer;
}

.like-icon {
  color: #4ca6ff;
}

.delete-icon {
  color: #f53d3d;
}

.action-icon {
  float: right;
}
